<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div >
                    <h3> Contact </h3>
                    <ul>
                        <li> <a href="#"> Andrea Bensimhon </a> </li>
                        <li> <a href="#"> Oualid Boushaba </a> </li>

                    </ul>
                </div>

            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <!--/.footer-bottom-->
</footer>