<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron bg-info">
    <div class="container ">
        <h1> IN MY KITCHEN </h1>
        <h2> The best cooking recipes blog </h2>
        <p> read and add your recipes easily </p>
        <!--<img class="img-fluid" src="{{ asset('bundles/demo/image/food.jpg') }}" alt="image de nourriture" class="img-thumbnail">-->

        <p>
            <a class="btn btn-primary btn-lg" href="{{ path("view_services_route") }}" role="button"> Let's start </a></p>
    </div>
</div>
