<div class="container">
    <!-- Example row of columns -->

    <div>

    <div>
        <div class="text-center">
        <!--<img  src="views/image/pexels.jpeg" class="image" alt="Responsive image"> -->
            <img class="img-fluid" src="{{ asset('bundles/demo/image/salad.jpg') }}" alt="image de nourriture" class="img-thumbnail">

        </div>
    </div>
    <p> </p>

    <div>
        <div class="text-center">
            <!--<img  src="views/image/pexels.jpeg" class="image" alt="Responsive image"> -->
            <img class="img-fluid" src="{{ asset('bundles/demo/image/food.jpg') }}" alt="image de nourriture" class="img-thumbnail">

        </div>
    </div>
    <p> </p>

    <div>
        <div class="text-center">
            <!--<img  src="views/image/pexels.jpeg" class="image" alt="Responsive image"> -->
            <img class="img-fluid" src="{{ asset('bundles/demo/image/dessert.jpeg') }}" alt="image de nourriture" class="img-thumbnail">

        </div>
    </div>
    <p> </p>


</div>
</div> <!-- /container -->
